{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap2.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <title>Construction</title>
</head>
<body>
<main>
    {{ client.numero }}
    <div class="container py-3">

        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">Construction</span>
                </a>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Devis</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Construire</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Payer</a>
                </nav>
            </div>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Devis</h1>
                <p class="fs-5 text-muted">Quickly build a house</p>
            </div>
        </header>

        <main>
            <table id="data_table" class="table datatable">
                <thead>
                <tr>
                    <th class="table_head">
                        Date Devis
                        <span style="color: Dodgerblue;">
                        <i class="sort-icon fa fa-sort"></i>
                    </span>
                    </th>
                    <th class="table_head">
                        Maison
                        <span style="color: Dodgerblue;">
                        <i class="sort-icon fa fa-sort"></i>
                    </span>
                    </th>
                    <th class="table_head">
                        Finition
                        <span style="color: Dodgerblue;">
                        <i class="sort-icon fa fa-sort"></i>
                    </span>
                    </th>
                    <th class="table_head">
                        Prix Total
                        <span style="color: Dodgerblue;">
                        <i class="sort-icon fa fa-sort"></i>
                    </span>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in devis %}
                    <tr>
                        <td style="text-align: right;">{{ item.date_devis }}</td>
                        <td style="text-align: left;">{{ item.maison }}</td>
                        <td style="text-align: left;">{{ item.finition }}</td>
                        <td style="text-align: right;">{{ item.prix_total|floatformat:"2"|intcomma }}</td>
                        <td>
                            <a href="{% url 'export-devis-pdf' %}?id_devis={{ item.id }}"
                               class="btn btn-outline-primary">export</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'components/form_devis.html' with form=devis_form class="row g-3" id="login-form" method="post" submit="valider" %}

            <div id="error-message" class="alert alert-danger" style="display:none;" role="alert"></div>
            {% url 'construction' as construction_url %}
            {% with action=construction_url|add:"?form=paiement" %}
                {% include 'components/form.html' with id="payer" action=action form=paiement_form class="row g-3" method="post" submit="payer" %}
            {% endwith %}
        </main>

    </div>
</main>

<script>
    $( document ).ready( function () {
        $( '#payer' ).on( 'submit', function (event) {
            event.preventDefault();

            var formData = new FormData( this );

            console.log( formData );

            $.ajax( {
                url: "{% url 'construction' %}?form=paiement",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success === false) {
                        var errors = response.errors;
                        var errorMessage = "";
                        var input_id = 'input'
                        for (var field in errors) {
                            input_id += field
                            $( "#" + input_id ).addClass( 'is-invalid' );
                            {#$('#save-form').append('<label for="'+ input_id +'">'+ errors[field].join(", ") +'</label>')#}
                            errorMessage += "<p>" + field + ": " + errors[field].join( ", " ) + "</p>";
                        }
                        $( '#error-message' ).html( errorMessage );
                        $( '#error-message' ).show();
                    } else {
                        location.reload()
                    }
                }
            } );
            return false;
        } );
    } );
</script>

<script>
    function highlightAndChange(maisonId) {
        $( ".card" ).removeClass( "border-primary" );
        $( "#card-" + maisonId ).addClass( "border-primary" );
        $( "#maison-input" ).val( maisonId );
    }
</script>

</body>
</html>