{% extends 'components/dashboard_base.html' %}
{% load humanize %}

{% block title %}
    Travaux
{% endblock %}

{% block content %}
    <table id="data_table" class="table datatable">
        <thead>
        <tr>
            <th class="table_head">
                code travaux
                <span style="color: Dodgerblue;">
                    <i class="sort-icon fa fa-sort"></i>
                </span>
            </th>
            <th class="table_head">
                designation
                <span style="color: Dodgerblue;">
                    <i class="sort-icon fa fa-sort"></i>
                </span>
            </th>
            <th class="table_head">
                unité
                <span style="color: Dodgerblue;">
                    <i class="sort-icon fa fa-sort"></i>
                </span>
            </th>
            <th class="table_head">
                prix unitaire
                <span style="color: Dodgerblue;">
                    <i class="sort-icon fa fa-sort"></i>
                </span>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in travaux %}
            <tr>
                <td style="text-align: left;">{{ item.code_travaux }}</td>
                <td style="text-align: right;">{{ item.designation }}</td>
                <td style="text-align: right;">{{ item.unite }}</td>
                <td style="text-align: right;">{{ item.prix_unitaire|floatformat:"2"|intcomma }}</td>
                <td>
                    <a href="{% url 'travaux-admin' %}/update/{{ item.id }}" class="btn btn-warning">update</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}